language: ruby
cache: bundler
before_script:
  - gem install bundler
  - bundle install
script: bundle exec rake test
rvm:
  - 2.0.0
  - 2.3.3
  - 2.4.0
matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: Gemfile_rack_2
gemfile:
  - Gemfile_rack_1
  - Gemfile_rack_2
